[submodule "website"]
	path = website
	url = git@github.com:KommuSoft/ZincOxideWebsite.git
[submodule "gppg"]
	path = gppg
	url = git@github.com:KommuSoft/Gardens-Point-Parser-Generator.git
[submodule "gplex"]
	path = gplex
	url = git@github.com:KommuSoft/Gardens-Point-LEX.git
[submodule "mono-utils"]
	path = mono-utils
	url = git@github.com:KommuSoft/mono-utils.git
[submodule "mathnet-yttrium"]
	path = mathnet-yttrium
	url = git@github.com:KommuSoft/mathnet-yttrium.git
[submodule "mathnet-numerics"]
	path = mathnet-numerics
	url = git@github.com:KommuSoft/mathnet-numerics.git
[submodule "Resistance.Opts"]
	path = Resistance.Opts
	url = git@github.com:KommuSoft/Resistance.Opts.git
